<!--将当前HTML文件变成thymeleaf模板，使之可以接收后端信息-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/login2.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link href="" rel="stylesheet">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <title>头部</title>
</head>
<body>
<div id="top" style="height: 80px;background-color:#4f4f4f;" th:fragment="top">
    <div id="topdiv">
        <span class="col-xg-3">

            <img src="/image/book.png" width="80px" height="80px" />
            <span class="x1">|</span>
            <a class="b1" href="" >在线考试</a>
            <a href="" >问题反馈</a>
        </span>
        <span class="s1 col-xg-2">
            <a href="" class="b1" style="align-items: center;" >首页</a>
        </span>
        <span class="s1 col-xg-2">
            <a href="" class="b1" style="align-items: center;" >直播课堂</a>
        </span>
        <span class="s1 col-xg-2">
            <a href="" class="b1" style="align-items: center;" >手机App</a>
        </span>

        <span class="s2 col-xg-3" th:if="${user} == null">
            <span ><a th:href="@{user/login}" class="s3">登录</a></span>
            <span class="s3">|</span>
            <span ><a class="s3" href="">注册</a></span>
            <span><a class="s3" href="">个人中心</a></span>
        </span>
        <span class="s2 col-xg-3" th:if="${user} != null">
            <a href="" class="s3">注销</a>
            <a class="s3" href="">个人中心</a>
        </span>
    </div>

</div>

</body>
</html>